#header{background:url("http://slowbuddy.com/wp-content/gallery/plain-background/plasma_ab.jpg")}

body{background-image:url("http://i.imgur.com/35dmg2Y.jpg");background-repeat:no-repeat;background-position:center}

.chat-log{font-size:10pt;background: url("http://i.imgur.com/MeALmsC.png") no-repeat scroll right bottom;background:#a5ffa5;color:#000;overflow:auto;}

.menugroup .button{background:#46468c}.menugroup

.menugroup {
background:#a5ffa5);
text-align: center;
}

.button:hover{background:#4876FF}

.userlist {
border-left: 1px solid #D5DDE4;
background: #a5ffa5;
}
